extends ../base.pug 

block variables
  - var template = "home"

block content 
  main.home
    .home__wrapper 
      .home__heading  
        h2.home__heading__text Let’s take it all back to the beginning.
      .home__tread 
        svg.home__thread__line(width="1" height="79" viewBox="0 0 1 79" fill="none" xmlns="http://www.w3.org/2000/svg")
          line( x1="0.5" y1="2.18557e-08" x2="0.499997" y2="79" stroke="#1D1D1D")
      .home__body
        p.home__body__text 
          span FOOTWEAR THAT WALKED THROUGH DESERTS FOR 40 YEARS, THAT OVERTHREW KINGDOMS AND EMPIRES, THAT DIVIDED SEAS, AND SPREAD THE GOSPEL.
          span.newLine YOU CAN'T GET THEM TODAY, BECAUSE THEY'RE ALL 
          span.bold SOLED OUT.
      .home__cta  
        svg.home__cta__border(width="158" height="56" viewBox="0 0 158 56" fill="none" xmlns="http://www.w3.org/2000/svg")
          rect( x="0.5" y="0.5" width="157" height="55" rx="27.5" stroke="#1D1D1D")
        button.home__cta__button ENTER
      .house

      
  main.building
    .building__wrapper 
      .building__body
        p.building__body__text WALKING AMONG THE GODS
        h2.building__body__title Timeless Steps

  //- main.shoes
  //-   .shoes__wrapper 
  //-     .shoes__body
  //-       p.shoes__body__text AIRBENEZER 11S
  //-       h2.shoes__body__title Apostle Black